<style>
.button {
  border: none;
  color: black;
  padding: 15px 32px;
  left: 40%;
  position:absolute;
  top: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color:white ;}
.button2 {background-color:white;} 
</style>
.m{
  position: absolute;
  top: 0%;
  left: 20%;
  transform: translate(-50%, -50%);
  length:60%;
  width:60%;
  text-align: center;
  z-index: 1;
  opacity: 0.85;
  position:relative;
}